@charset "UTF-8";

html {
    font-size: 80%;
}
/* body {
    color: #333;
    font-size: 0.75rem;
    font-family: sans-serif;
} */

body {
    font-weight: 400;
    font-size: 0.75rem;
    font-family: sans-serif;
    line-height: 1.8em;
    overflow-x: hidden;
    color: #000;
}

.bg {
    background-color: #FFFAFA;
}

.shop-title {
    margin-right: 30px;
}

.icon {
    display: block;
    height: 20px;
    object-fit: scale-down;
    width: 20px;
}

.logout-icon-area {
    margin-right: 40px;
}

.login-icon-area {
    margin-right: 40px;
}

.people-icon-area {
    margin-right: 40px;
}

.shopping-cart-icon-area {
    margin-right: 40px;
}