@charset "UTF-8";

a {
  color: #333;
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.product-img {
  /* border: 1px solid #ccc; */
  display: block;
  height: 200px;
  object-fit: scale-down;
  width: 100%;
}

.c-body {
  background-color: #FFFAFA;
}